// Primary color
$primary-p1: #7A2682;
$primary-p1-dark: #641D6A;
$primary-gradient: linear-gradient(#7A2682, #150F42, #050B37);
$primary-P1-light1: #A72DB2;
$primary-P1-light2: #C787CD;
$primary-P1-light3: #EAC6ED;
$primary-P1-light4: #FEF6FF;
$primary-dark-1: #010E57;

// Neutral color
$neutrals-greys: #707070;
$neutrals-dark: #222222;
$neutrals-greys-light: #AAAAAA;
$neutrals-grey-offwhite: #DDDDDD;
$neutrals-offwhite-light: #EBEBEB;
$neutrals-white: #FFFFFF;